body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #8DB6CD;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: larger;
    flex-direction: column;
}

canvas {
    border: 10px outset red;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    padding: 20px 70px;
    border: 5px solid lightslategray;
}

.popupRegion {
    display: none;
}

.popupCity {
    display: none;
}

.popupRegion.active {
    display: block;
}

.popupCity.active {
    display: block;
}

.content > p {
    font-size: xx-large;
}

.clsPopupBtn {
    background-color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 25%;
    font-size: large;
    box-sizing: border-box;
}

.clsPopupBtn:hover {
    background-color: lightgray;
}

.buyBtn {
    font-size: larger;
    width: 100%;
    padding: 4px 0px;
    border-radius: 16px;
    border: none;
}

.buyBtn:hover {
    width: calc(100% + 10px);
}

.topBarEle {
    background-color: olive;
    border-radius: 16px;
    padding: 5px;
    border: 5px solid #9ab973;
}

.topBarEleContainer {
    font-size: x-large;
    padding: 0px 100px;
}

.topBar {
    display: flex;
    background-color: darkolivegreen;
    border-radius: 40px;
    flex-direction: row;
    text-align: justify;
}

.flexEle {
    margin-bottom: 30px;
}